rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    # allow create subscription
    match /subs/{subId} {
      allow read: if false;
      allow create: if true;
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}
