.prose blockquote {
  font-weight: 300;
}

.prose blockquote p:first-of-type::before {
  content: none;
}

.prose code::before,.prose code::after {
  content: none;
}
.prose code {
  @apply bg-gray-200 text-gray-800 font-light px-1.5 rounded-sm;
}
